body{
    background-color: var(--background-color);
    font-family: Poppins;
    color: rgb(255, 255, 255);
}

/* розмітка */
    /* nav menu */

.hero-nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    max-width: 471px;
    max-height: 24px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

    /* hero */

.hero{
    display: flex;
    justify-content: space-between;
}

.header-input{
    display: flex;
    width: 497px;
    height: 64px;
    background-color: var(--brand-color-lightGray);
    align-items: center;
    border-radius: 15px;
    margin-bottom: 226px;
    font-family: Poppins;
}

.hhhero{
    flex-direction: column;
}

/* objects */
    /* nav menu */
.logo{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFFE5;
    margin-left: 21px;
}

a{
    text-decoration: none;
    color: #b6b6b6;
}

.nav-menu-button{
    color:#FFFFFFFF;
    background-color: var(--brand-color-orange);
    border: none;
    border-radius: 8px;
    width: 118px;
    height: 48px;
    font-size: 16px;
    margin-left: 20px;
}

.buttons-nav-menu a{
    margin-right: 20px;
}

.nav-menu a{
    margin: 0px 19px 0px 19px;
}

    /* hero */

.orange{
    color: #FF6E30;
}

.hero-tittle{
    width: 600px;
    font-size: 50px;
    font-weight: 500;
}

.hero-sentence{
    width: 487px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.header-input input{
    color: #FFFFFFFF;
    background-color: var(--brand-color-lightGray);
    border: none;
    width: 210px;
    height: 21px;
    margin: 0px 50px 0px 13px;
    font-size: 14px;
    font-weight: 400;
}

.header-input button{
    width: 130px;
    height: 48px;
    color: #FFFFFFFF;
    background-color: var(--brand-color-orange);
    border: none;
    border-radius: 15px;
    margin: 0px 0px 0px 55px;
}

.header-input img{
    width: 24px;
    height: 24px;
    margin: 0px 13px 0px 13px;
}

.media img{
    margin: 0px 15px 0px 15px;
}

.illustration{
    width: 613px;
    height: 593px;
    justify-content: flex-end;
}