.card:hover{
    background-image: radial-gradient(circle at top right, rgba(255, 110, 48, 0.60) 1%, var(--brand-color-lightGray) 30%);
    position: relative;
    bottom: 10px;
}

.card:hover .visitButton{
    background-color: var(--brand-color-orange);
}


input:checked{
    border: none;
}

button:active{
    position: relative;
    top: 2px;
    background-color: #DD4C1C;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}

.loadMoreButton:active button{
    background-color: #181D22;
    position: sticky;
}

.nav-menu-button1:active{
    background-color: var(--background-color);
    position: sticky;
    text-decoration: underline;
}
