/* розмітка */
    /* tools */

.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:auto;
    margin-bottom: 80px;
}


.tools-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 90px 0px;
}

    /* cards */

.card-line{
    display: flex;
    justify-content: space-between;
}


.card{
    display: flex;
    flex-direction: column;
    max-width: 392px;
    max-height: 294px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: var(--background-color);
    padding: 33px;
}

.card-line1 .card{
    margin: 0px 12px 50px 12px;
}

.card-line2 .card{
    margin: 50px 12px 50px 12px;
}

    /* trust */

.trust{
    display: flex;
    align-items: center;
    justify-content: center;
}

.TrustBox{
    display: flex;
    justify-content: center;
}

.trustBlock{
    display: flex;
    width: 1224px;
    height: 253px;
    justify-content: center;
    background-image: radial-gradient(circle at top left, rgba(255, 72, 66, 0.40) 1%, rgba(44, 53, 61, 0.20) 10%);
    background-color: var(--brand-color-lightGray);
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.trustBrends{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
}


/* Newcomer Tools */

.newcommerTools {
   display: flex;
    flex-wrap: wrap;        
    flex-direction: row;    
    align-items: center;
}

.newcommerToolsBox{
    display: flex;       
    align-items: flex-start;
    flex-direction: row;
    gap: 200px;
    margin: 223px 0px 215px 0px;
}

.newcommerToolsTitle{
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    align-items: center;
    order: 1;
}

.cards2{
    display: flex;
    /* margin-left: 600px; */
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    max-width: 700px;
    width: 100%;

    order: 2;
}

.line3{
    display: flex;
    gap: 25px;
}

.line4{
    display: flex;
    gap: 25px;
}


/* Product Manager */

.productManager{
    display: flex;
    flex-direction: row;
}

.ronaldRichards{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

    /* contributor */

.contributor{
    /* display: flex;
    justify-content: center; */
    margin: 250px 0px 100px 0px;
}

.contributorBoxMain{
    display: flex;
    justify-content: center;
    margin: 400px 0px 100px 0px;
}

.contributorBox{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}


/* objects */
    /* tools */

.tools-tittle h2{
    width: 455px;
    height: 62px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    margin: 200px 0px 25px 0px;
}



.tools-tittle p{
    width: 427px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
}

    /* cards */

.card img{
    max-width: 64px;
    max-height: 64px;
}

.card-top{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 392px;
}

.card-headline{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 30px;
}

.free{
    color: var(--brand-color-orange);
    margin: 0px 
}

.card p{
    align-items: center;
}

.card-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}

.card-icons img{
    width: 28px;
    height: 28px;
}

.icons{
    display: flex;
    flex-direction: row;
}



.visitButton{
    background-color: var(--background-color);
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    width: 106px;
    height: 42px;
    /* margin: 0px 0px 0px 125px; */
    justify-content: flex-end;
}

.card-icons img{
    margin: 0px 12px 0px 12px;
}

.card-info{
    margin: 30px 0px 37px 0px;
}

.button{
    display: flex;
    max-width: 1440px;
    height: auto;
    justify-content: center;
    margin: 100px 0px 35px 0px;
}

.load-more{
    background-color: var(--background-color);
    color: var(--brand-color-orange);
    border: solid 1px var(--brand-color-lightGray);
    border-radius: 15px;
    width: 184px;
    height: 64px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.loadMoreButton{
    display: flex;
    justify-content: center;
}

    /* trust */

.trustTitle{
    display: flex;
    width: 1224px;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 0px 55px 0px;
}

.trustBlock img{
    width: auto;
    height: 51px;
}

/* Newcomer Tools */

.newcommerToolsTitle h2{
    font-size: 48px;
}

.newcommerToolsTitle p{
    width: 427px;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px 30px 0px;
}

.newcommerToolsTitle button{
    background-color: var(--brand-color-orange);
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 198px;
    height: 58px;
    margin: 30px 0px 0px 0px;
}

.titleBoxManager h3{
    width: 220px;
    height: 39px;
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    justify-content: center;
}



.aboutRichard{
    width: 500px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}

.ronald-richards{
    align-items: center;
}

.arrow{
    align-items: center;
}

.pages{
    display: flex;
    justify-content: center;
    margin: 100px 0px 0px 0px;
}

/* contributor */


.headlineContributor{
    font-size: 36px;
    font-weight: 500;
    justify-content: center;
}

.txtContributor{
    width: 450px;
    font-size: 18px;
    font-weight: 500;
    margin: 25px 0px 100px 0px;
    justify-content: center;
}

.input{
    display: flex;
    width: 549px;
    height: 70px;
    background-color: var(--brand-color-lightGray);
    align-items: center;
    border-radius: 15px;
    margin-bottom: 226px;
    font-family: Poppins;
}

.input input{
    color: #FFFFFFFF;
    background-color: var(--brand-color-lightGray);
    border: none;
    width: 210px;
    height: 21px;
    margin: 0px 100px 0px 13px;
    font-size: 14px;
    font-weight: 400;
}

.input button{
    width: 130px;
    height: 48px;
    color: #FFFFFFFF;
    background-color: var(--brand-color-orange);
    border: none;
    border-radius: 15px;
    margin: 10px 10px 10px 120px;
}