/* розмітка */
    /* tools */

.tools{
    display: flex;
    height: 1348px;
    width: 1440px;
    /* justify-content: center; */
}


.tools-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 90px 0px;
}

.line1{
    display: flex;
    justify-content: space-between;
}

.line2{
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 294px;
    border-radius: 15px;
    background-color: var(--background-color);
}

.line1 .card{
    margin: 0px 12px 50px 12px;
}

.line2 .card{
    margin: 50px 12px 50px 12px;
}


/* objects */
    /* tools */

.tools-tittle h2{
    width: 455px;
    height: 62px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

.tools-tittle p{
    width: 427px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
}



.card img{
    width: 64px;
    height: 64px;
}

.card-top{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 392px;
}

.card-headline{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 30px;
}

.free{
    color: var(--brand-color-orange);
    margin: 0px 
}

.card p{
    align-items: center;
}

.card-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icons img{
    width: 28px;
    height: 28px;
}

.card-icons button{
    background-color: var(--background-color);
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    width: 106px;
    height: 42px;
    margin: 0px 0px 0px 165px;
}

.card-icons img{
    margin: 0px 12px 0px 12px;
}

.card-info{
    margin: 30px 0px 37px 0px;
}

.button{
    display: flex;
    width: 1440px;
    height: auto;
    border: solid black;
}

.load-more{
    background-color: var(--background-color);
    color: var(--brand-color-orange);
    border: solid 1px var(--brand-color-lightGray);
    border-radius: 15px;
    width: 184px;
    height: 64px;
    font-size: 20px;
    justify-content: center;
}