/* розмітка */
    /* tools */

.tools{
    display: flex;
    height: 1348px;
    width: 1440px;
    /* justify-content: center; */
}


.tools-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 90px 0px;
}

.line1{
    display: flex;
    justify-content: space-between;
}

.line2{
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    width: 392px;
    height: 294px;
    border-radius: 15px;
    background-color: var(--background-color);
}


/* objects */
    /* tools */

.tools-tittle h2{
    width: 455px;
    height: 62px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

.tools-tittle p{
    width: 427px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
}



.card img{
    width: 64px;
    height: 64px;
}

.card-top{
    flex-direction: row;
}

.card-headline{
    flex-direction: column;
}

.free{
    color: var(--brand-color-orange);
}

.card p{
    align-items: center;
}

.card-icons{
    flex-direction: row;
}
