 :root{
    --background-color: #1E252B;
    --brand-color-orange: #FF6E30;
    --brand-color-lightGray: #283036;
}

.container{
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    background-color: var(--background-color);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}